body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: green;
  /* cursor: none; */
  user-select: none;
  overflow: hidden;
}

.text--body {
  padding: 7vh;
}

/* body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* ------------ BACKGROUND ------------- */

.container--background {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
  background-size: contain;
  width: 1000vw;
  height: 1000vh;
  opacity: 1;
}

.container--background-wall {
  background-image: url('/assets/bg-image.jpg');
  background-size: 100vh;
  background-repeat: repeat;
  height: inherit;
  width: inherit;
  position: fixed;
  top: -500vh;
  left: -500vw;
}

.container--background-images {
  background-repeat: repeat;
  background-position-y: center;
  background-size: contain;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  mix-blend-mode: difference;
  opacity: 0.8;
}

/* .swipe--control {
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  user-select: none;
} */

/* ------------ PAGE ------------- */

.container--pages {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
  transition: transform 0.5s ease-in-out;  
}

.vignette {
  position: fixed;
  pointer-events: none;
  top: -50vh;
  top: -50dvh;
  right: -50vw;
  width: 200vw;
  height: 200vh;
  height: 200dvh;
  background: rgb(0,0,0);
  background: -moz-radial-gradient(circle, rgba(0,0,0,0) 33%, rgba(0,0,0,0.8883928571428571) 73%);
  background: -webkit-radial-gradient(circle, rgba(0,0,0,0) 33%, rgba(0,0,0,0.8883928571428571) 73%);
  background: radial-gradient(circle, rgba(0,0,0,0) 33%, rgba(0,0,0,0.8883928571428571) 73%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.candle {
  width: 200px;
   height: 200px;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: contain;
   pointer-events: none;
}

.container--page {
  position: relative;
  background-image: url('/assets/paper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 85vh;
  margin: 0px;
  left: calc(50% - (85vh * 0.75)/2) ;
  width: calc(85vh * 0.7);
  min-width: max(calc(85vh * 0.7), 300px);
  opacity: 0.9;
  overflow-y: scroll;
}

.content-container--page {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.container--canvas {
  margin: 0;
  padding: 0;
  
  height: inherit;
  width: inherit;
  box-sizing: border-box;
  background-color: transparent;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.container--3d-page {
  position: relative;
  background-image: url('/assets/paper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 85vh;
  margin: 0px;
  left: calc(50% - (85vh * 0.75)/2) ;
  width: calc(85vh * 0.7);
  min-width: max(calc(85vh * 0.7), 300px);
  opacity: 0.9;
  overflow-y: scroll;
}