@font-face {
  font-family: 'My Custom Font';
  src:
    url('/fonts/custom-times.woff'), format('woff'),
    url('/fonts/custom-times.woff2'), format('woff2');
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: green;
  overflow: hidden;
  user-select: none;
  font-family: 'My Custom Font', 'Times New Roman', Times, serif;
}

h1 {
  font-size: 1.25em;
  background-color: beige;
  padding: 10px;
  color: black;
  transition: color 0.5s, background-color 0.5s;
  user-select: none;
  mix-blend-mode: difference;
}

h1:hover {
  color: white;
  background-color: rgb(58, 28, 58);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1.1em;
  }
}

/* ------------ BACKGROUND ------------- */

.container--background {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
  background-size: contain;
  opacity: 1;
  width: 100000px;
  height: 100000px;
  user-select: none;
}

.container--background-wall {
  background-image: url('/assets/brick-2.jpg');
  background-size: 100vh;
  background-repeat: repeat;
  height: inherit;
  width: inherit;
  position: fixed;
  top: -500vh;
  left: -500vw;
}

.container--background-images {
  background-repeat: repeat;
  background-position-y: center;
  background-size: contain;
  align-items: center;
  height: 100vh;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  opacity: 0.9;
}

.poster-container {
  display: none;
  position: relative;
}

.block {
  display: block;
}

.posters {
  object-fit: contain;
  opacity: 1;
  pointer-events: none;
}

.overlay {
  mix-blend-mode: overlay;
}

.exclusion {
  mix-blend-mode: exclusion;
}

.difference {
  mix-blend-mode: difference;
}

.swiper--control {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

.vignette {
  position: fixed;
  pointer-events: none;
  user-select: none;
  top: -75vh;
  top: -75dvh;
  right: -75vw;
  width: 250vw;
  height: 250vh;
  height: 250dvh;
  background: rgb(0, 0, 0);
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.8883928571428571) 73%);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.8883928571428571) 73%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.8883928571428571) 73%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.eye--container {
  width: min-content;
  height: min-content;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  pointer-events: none;
}

.container--hand {
  position: fixed;
  bottom: 15%;
  right: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@media screen and (min-width: 768px) {
  .container--hand {
    right: 10vw;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-10vw);
  }
}

.slide {
  animation: 1s infinite alternate ease slide;
}

.visible {
  opacity: 1;
}

.pointing-hand {
  position: relative;
}

.eye {
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

svg {
  filter: drop-shadow(0px 0px 10px rgb(255 255 255));
}


/* ------------ HOMEPAGE ------------- */

.container--homepage {
  min-width: 100vw;
  left: 0vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .container--homepage {
    min-width: 50vw;
    justify-content: flex-end;
    left: 10vw;
  }
}

/* ------------ PAGE ------------- */

.container--pages {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  width: 100vw;
  height: inherit;
  transition: transform 0.5s ease-in-out;
  user-select: text;
}


.container--page {
  position: relative;
  display: inline-block;
  height: 85vh;
  height: 85svh;
  margin: 0px;
  left: calc(50% - min(calc(85vh * 0.7), 90vw)/2);
  left: calc(50% - min(calc(85svh * 0.7), 90vw)/2);
  min-width: min(calc(85vh * 0.7), 90vw);
  min-width: min(calc(85svh * 0.7), 90vw);
  max-width: min(calc(85vh * 0.7), 90vw);
  opacity: 1;
  user-select: none;
}


.text--body {
  box-sizing: border-box;
  padding: 5vh;
  overflow-y: auto;
  height: 85vh;
  height: 85svh;
}

@media screen and (min-width: 768px) {
  .text--body {
    padding: 7vh;
  }
}

.footnote {
  left: 0;
  width: max-content;
  max-width: 100%;
  position: sticky;
  display: inline;
  transition: margin 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  border: 2px dashed rgb(36, 36, 26);

}

::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 150);
  /* color of the scroll thumb */
  border-radius: 20px;
  border: 2px solid rgb(122, 122, 90);
}

.content-container--page {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

/* ------------------ 3D CANVAS ------------------ */

.container--canvas {
  margin: 0;
  padding: 0;

  height: inherit;
  width: inherit;
  box-sizing: border-box;
  background-color: transparent;
}

canvas {
  transition: filter 0.5s linear;
  -webkit-transition: -webkit-filter 500ms linear;
  cursor: pointer;
}

.container--3d-page {
  position: relative;
  background-image: url('/assets/paper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 85vh;
  margin: 0px;
  left: calc(50% - (85vh * 0.75)/2);
  width: calc(85vh * 0.7);
  min-width: max(calc(85vh * 0.7), 300px);
  opacity: 0.9;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

/* ------------------ NAVIGATION ------------------ */

.click-area-left {
  position: fixed;
  top: -20vh;
  left: 90vw;
  width: 40vw;
  height: 140vh;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.click-area-left:hover {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 70%);
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255)70%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.click-area-left:active {
  opacity: 1;
}

.click-area-right {
  position: fixed;
  top: -20vh;
  left: -30vw;
  width: 40vw;
  height: 140vh;
  z-index: 1000;
  cursor: pointer;
}

.project-info--button--container {
  position: fixed;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border: 2px solid white;
  color: white;
  background: none;
  /* background-color: red; */
  z-index: 1000;
  font-family: "My Custom Font", "Times New Roman", Times, serif;
  font-size: 40px;
  margin: 0;
  cursor: pointer;
  mix-blend-mode: difference;
}

.project-info--button--container:hover {
  font-style: italic;
  background-color: rgba(212, 1, 1, 0.9);

}